*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 1024px) {
    html {
      font-size: 50%; } }
  @media (max-width: 767px) {
    html {
      font-size: 37.5%; } }

body {
  font-size: 1.6rem;
  background-color: #171717;
  font-family: 'Inter', sans-serif; }

a {
  text-decoration: none; }

.flex {
  display: flex; }

.align-Center {
  align-items: center; }

.jf-sb {
  justify-content: space-between; }

.jf-around {
  justify-content: space-around; }

.flex-column {
  flex-direction: column; }

.txt-Upper {
  text-transform: uppercase; }

.txt-Capi {
  text-transform: capitalize; }

.txt-Center {
  text-align: center; }

.color-White {
  color: #ffffff; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-10 {
  padding-top: 10rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-10 {
  padding-bottom: 10rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pr-6 {
  padding-right: 6rem; }

.pr-7 {
  padding-right: 7rem; }

.pr-8 {
  padding-right: 8rem; }

.pr-9 {
  padding-right: 9rem; }

.pr-10 {
  padding-right: 10rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

.pl-6 {
  padding-left: 6rem; }

.pl-7 {
  padding-left: 7rem; }

.pl-8 {
  padding-left: 8rem; }

.pl-9 {
  padding-left: 9rem; }

.pl-10 {
  padding-left: 10rem; }

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem; }

.menu-grid {
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 40rem; }
  @media (max-width: 768px) {
    .menu-grid {
      grid-template-columns: repeat(2, 1fr); } }

.header {
  padding: 5rem 2rem 0 2rem; }
  @media (min-width: 768px) {
    .header {
      padding-left: 12.3rem; } }
  .header h1 {
    font-size: 6rem;
    line-height: 7.3rem;
    font-weight: 800;
    background-image: linear-gradient(95deg, #5effca 0, #49a8ff 35%, #5effca 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    transition: background-position 300ms ease; }
    .header h1:hover {
      background-position: right; }
  .header p {
    font-size: 2rem;
    line-height: 3rem; }

.menu a {
  border: 1px solid white;
  text-decoration: none;
  position: relative;
  z-index: 10; }
  .menu a::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: -1; }
  .menu a:nth-child(1)::after {
    background: linear-gradient(202.92deg, #fff497 11.49%, #ff7c97 39.59%, #7b61ff 68.89%); }
  .menu a:nth-child(2)::after {
    background: linear-gradient(242.22deg, #5effca 16.46%, #4a34b9 49.65%); }
  .menu a:nth-child(3)::after {
    background: linear-gradient(198.82deg, #81348d 5.34%, #ff7c97 53.63%, #ff5174 85.97%); }
  .menu a:nth-child(4)::after {
    background: linear-gradient(167.93deg, #f6ff97 8.81%, #88e475 38.84%, #43a685 65.9%); }
  .menu a:hover p {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .menu a:hover::after {
    opacity: 1; }
  .menu a p {
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 85%;
    left: 2rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'lato', sans-serif; }

.design {
  overflow: hidden; }
  .design__layout {
    gap: 5rem; }
    @media (max-width: 500px) {
      .design__layout {
        flex-direction: column; } }
  .design h2,
  .design h3 {
    font-size: 6rem;
    color: #fff;
    transition: transform 0.25s ease;
    font-weight: 600; }
  .design h2:hover {
    transform: scale(1.1); }
  .design h3 {
    display: none; }
  @media (max-width: 500px) {
    .design h2 {
      display: none; }
    .design h3 {
      display: block; } }
  .design__box {
    flex: 1;
    gap: 5rem; }
    .design__box main {
      height: 26.3rem;
      position: relative;
      z-index: 10;
      overflow: hidden; }
      .design__box main div {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        transition: all 300ms ease; }
      .design__box main a {
        padding: 2rem 2rem;
        opacity: 0;
        transition: all 300ms ease;
        color: #fff;
        z-index: 10;
        font-size: 3.2rem;
        font-weight: 600;
        font-family: 'lato', sans-serif; }
        .design__box main a span {
          display: block;
          font-size: 1.2rem;
          color: rgba(255, 255, 255, 0.68); }
      .design__box main:hover div {
        transform: scale(1.1); }
      .design__box main:hover a {
        opacity: 1; }
    @media (max-width: 767px) {
      .design__box--2 {
        display: none; } }
    .design__box--2 main {
      height: 100%; }
    .design__box--card__1 div {
      background: url(../images/img1.svg) center center/cover; }
    .design__box--card__1 a::after {
      background: rgba(15, 49, 61, 0.6); }
    .design__box--card__2 div {
      background: url(../images/img2.svg) center center/cover; }
    .design__box--card__2 a::after {
      background: rgba(79, 13, 86, 0.6); }
    .design__box--card__3 div {
      background: url(../images/img3.svg) center center/cover; }
    .design__box--card__3 a::after {
      background: rgba(94, 96, 12, 0.6); }
    .design__box--card__4 div {
      background: url(../images/img4.svg); }
    .design__box--card__4 a::after {
      background: rgba(0, 55, 108, 0.6); }
    .design__box--card__5 {
      height: 34.8rem !important; }
      @media (max-width: 500px) {
        .design__box--card__5 {
          display: none; } }
      .design__box--card__5 div {
        background: url(../images/img5.png) center/cover; }
      .design__box--card__5 a::after {
        background: rgba(49, 136, 107, 0.63); }
    .design__box--card__6 a::after {
      background: linear-gradient(254.36deg, #7b61ff 2.89%, #ff7c97 60.94%); }
    @media (max-width: 490px) {
      .design__box--card__6 {
        margin-top: -10rem !important; } }
    .design__box button {
      position: relative;
      margin-top: 5rem;
      background: transparent;
      border: none;
      width: 100%; }
      .design__box button a {
        display: inline-block;
        color: #fff;
        width: 100%;
        padding: 2rem 0;
        border: 1px solid;
        transition: border 300ms ease-in-out;
        font-size: 2.4rem;
        border-radius: 0;
        font-family: 'lato', sans-serif; }
        .design__box button a::first-letter {
          text-transform: capitalize; }
        .design__box button a:hover {
          border: 1px solid transparent; }

.blog__layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-auto-rows: 40.32rem;
  gap: 2rem; }
  @media (max-width: 767px) {
    .blog__layout {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 40.32rem 40.32rem; } }

.blog a {
  position: relative;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  font-size: 3.2rem;
  font-weight: 600;
  font-family: "lato", sans-serif; }
  .blog a span {
    display: block;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.6); }
  .blog a::after {
    background: #171717; }
  .blog a:hover {
    border: 1px solid #fff; }

.blog .button__blog {
  height: auto;
  width: auto;
  border: 1px solid #fff;
  transition: border 300ms ease-in;
  color: #fff;
  font-family: "Inter", sans-serif; }
  .blog .button__blog::after {
    background: linear-gradient(250.7deg, #5effca 21.99%, #49a8ff 62.97%);
    border-radius: 3rem; }
  .blog .button__blog--phone {
    display: none; }
  @media (max-width: 767px) {
    .blog .button__blog {
      border-radius: 0;
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      margin-top: 2rem; }
      .blog .button__blog::after {
        border-radius: 0; }
      .blog .button__blog--desktop {
        display: none; }
      .blog .button__blog--phone {
        display: inline-block; } }
  .blog .button__blog:hover {
    border: 1px solid transparent; }

.blog__box h2 {
  color: #fff;
  font-size: 6rem;
  word-break: keep-all;
  width: 75%; }

.blog__box--2 {
  background: linear-gradient(193.81deg, #ffb197 12.81%, #81348d 90.13%); }

.blog__box--3 {
  background: linear-gradient(197.7deg, #9bf688 -12.35%, #2a9874 87.9%); }

.blog__box--4 {
  background: linear-gradient(160.95deg, #43a685 27.27%, #f6ff97 87.17%); }

.blog__box--5 {
  background: linear-gradient(197.4deg, #64d7d0 2.5%, #7798e1 88.07%); }

.blog__box--6 {
  background: linear-gradient(204.23deg, #7b61ff 47.15%, #ce82db 84.48%); }

@media (max-width: 767px) {
  .blog__box--1 {
    grid-column: span 2 / auto;
    text-align: center;
    align-self: center; }
    .blog__box--1 h2 {
      width: 100%; }
  .blog__box--3 {
    display: none; } }

.collaborate h2 {
  font-size: 5.2rem;
  font-weight: 800; }

.footer {
  font-size: 1.6rem; }
  .footer p {
    font-family: 'lato', sans-serif; }

.card-animated {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 10; }
  .card-animated::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: -1; }
  .card-animated:hover::after {
    opacity: 1; }

.button {
  font-size: 1.6rem !important;
  border-radius: 3rem; }
  .button__blue {
    background: linear-gradient(93.03deg, #49a8ff 4.45%, #5effca 115.15%); }

.animation {
  position: relative;
  width: 20rem;
  z-index: 10;
  transition: all 300ms ease; }
  @media (max-width: 1220px) {
    .animation {
      width: 25rem; } }
  .animation div {
    padding: 0.85rem 0;
    height: 100%;
    width: 100%;
    transition: all 300ms ease;
    position: relative;
    background: #252629;
    border-radius: 30rem; }
    .animation div ul {
      list-style: none;
      margin-left: 2rem; }
      .animation div ul li {
        opacity: 0;
        transition: all 300ms; }
        @media (max-width: 768px) {
          .animation div ul li img {
            height: 2rem; } }
    .animation div span {
      z-index: 10;
      padding-right: 1rem;
      padding-top: 0.25rem;
      transition: transform 300ms ease;
      cursor: pointer; }
      .animation div span img {
        height: 2rem; }
    .animation div::after {
      content: '';
      position: absolute;
      background: linear-gradient(229.66deg, #5effca -21.9%, #49a8ff 80.47%);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30rem;
      opacity: 1;
      transition: opacity 300ms ease; }
  .animation .input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    transition: color, padding 300ms ease;
    background: transparent;
    z-index: 10;
    margin-left: -2rem; }

.big {
  width: 25rem !important;
  transition: all 300ms ease; }
  @media (max-width: 700px) {
    .big {
      width: 30rem !important; } }
  .big span {
    transform: rotateY(160deg); }
  .big li {
    opacity: 1 !important;
    z-index: 10; }
  .big div::after {
    opacity: 0 !important; }
  .big .input {
    z-index: -1; }
