.card-animated {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 10;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: -1;
  }

  @include linearhover;
}

.button {
  font-size: 1.6rem !important;
  border-radius: 3rem;

  &__blue {
    background: linear-gradient(93.03deg, #49a8ff 4.45%, #5effca 115.15%);
  }
}

.animation {
  position: relative;
  width: 20rem;
  z-index: 10;
  transition: all 300ms ease;

  @include for-size(1220px) {
    width: 25rem;
  }

  div {
    padding: 0.85rem 0;
    height: 100%;
    width: 100%;
    transition: all 300ms ease;
    position: relative;
    background: rgba(37, 38, 41, 1);
    border-radius: 30rem;

    ul {
      list-style: none;
      margin-left: 2rem;

      li {
        opacity: 0;
        transition: all 300ms;
      }
    }
    span {
      z-index: 10;
      padding-right: 1rem;
      padding-top: 0.25rem;
      transition: transform 300ms ease;
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(229.66deg, #5effca -21.9%, #49a8ff 80.47%);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30rem;
      opacity: 1;
      transition: opacity 300ms ease;
    }
  }

  .input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: $color-white;
    border: none;
    font-size: 1.6rem;
    transition: color, padding 300ms ease;
    background: transparent;
    z-index: 10;
    margin-left: -2rem;
  }
}

.big {
  width: 25rem !important;
  transition: all 300ms ease;

  @include for-size(700px){
    width: 30rem !important;
  }

  span {
    transform: rotateY(160deg);
  }
  

  li {
    opacity: 1 !important;
    z-index: 10;
  }

  div {
    &::after {
      opacity: 0 !important;
    }
  }

  .input {
    z-index: -1;
  }
}
