.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem;
}

///////////////////////
/// Grid Start
///////////////////////
.menu-grid {
  gap: 3rem;
  @include grid(auto-fit, 20rem, 1fr, 40rem, '', $justify: false);

  @include for-size(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
///////////////////////
/// Grid End
///////////////////////

///////////////////////
/// Header Start
///////////////////////
.header {
  padding: 5rem 2rem 0 2rem;
  @include for-size(tablet, up) {
    padding-left: 12.3rem;
  }
  h1 {
    font-size: 6rem;
    line-height: 7.3rem;
    font-weight: 800;
    background-image: linear-gradient(
      95deg,
      $color-green 0,
      $color-blue 35%,
      $color-green 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    transition: background-position 300ms ease;

    &:hover {
      background-position: right;
    }
  }
  p {
    font-size: 2rem;
    line-height: 3rem;
  }
}
///////////////////////
/// Header End
///////////////////////

///////////////////////
/// Menu Start
///////////////////////
.menu {
  a {
    border: 1px solid white;
    text-decoration: none;
    position: relative;
    z-index: 10;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      z-index: -1;
    }

    @include linear(1) {
      background: linear-gradient(
        202.92deg,
        #fff497 11.49%,
        #ff7c97 39.59%,
        #7b61ff 68.89%
      );
    }

    @include linear(2) {
      background: linear-gradient(242.22deg, #5effca 16.46%, #4a34b9 49.65%);
    }

    @include linear(3) {
      background: linear-gradient(
        198.82deg,
        #81348d 5.34%,
        #ff7c97 53.63%,
        #ff5174 85.97%
      );
    }
    @include linear(4) {
      background: linear-gradient(
        167.93deg,
        #f6ff97 8.81%,
        #88e475 38.84%,
        #43a685 65.9%
      );
    }

    &:hover {
      p {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      &::after {
        opacity: 1;
      }
    }

    p {
      transition: all 300ms ease-in-out;
      position: absolute;
      top: 85%;
      left: 2rem;
      font-size: 3rem;
      font-weight: 600;
      font-family: 'lato', sans-serif;
    }
  }
}
///////////////////////
/// Menu End
///////////////////////

///////////////////////
/// Design Start
///////////////////////
.design {
  overflow: hidden;
  padding: 5rem 2rem 0 2rem;
  
  &__layout {
    display: grid;
    grid-template-columns: 34.8rem 31.6rem 46.4rem;
    justify-content: center;
    gap: 5rem;

    @include for-size(1200px, down){
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-size(tablet) {
      grid-template-columns: minmax(28.1rem, 1fr);
    }
  }

  h2,
  h3 {
    font-size: 6rem;
    color: $color-white;
    transition: transform 0.25s ease;
    font-weight: 600;
  }

  h2 {
    &:hover {
      transform: scale(1.1);
    }
  }

  h3 {
    display: none;
  }

  @include for-size(tablet) {
    h2 {
      display: none;
    }
    h3 {
      display: block;
    }
  }

  &__box {
    flex: 1;
    gap: 5rem;

    main {
      height: 26.3rem;
      position: relative;
      z-index: 10;
      overflow: hidden;

      div {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        transition: all 300ms ease;
        transform: scale(1.05);
      }

      a {
        padding: 2rem 2rem;
        opacity: 0;
        transition: all 300ms ease;
        color: $color-white;
        z-index: 10;
        font-size: 3.2rem;
        font-weight: 600;

        span {
          display: block;
          font-size: 1.2rem;
          color: rgba(255, 255, 255, 0.68);
        }
      }

      &:hover {
        div {
          transform: scale(1.1);
        }

        a {
          opacity: 1;
        }
      }
    }

    &--2 {

      @include for-size(tablet){
        display:none;
      }

      main {
        height: 100%;
      }
    }

    &--card__1 {
      div {
        background: url(https://drive.google.com/uc?export=download&id=1Ic-f6Wjs7peISxLvdzTAkL864FODXAw-) center / cover;
      }
      a {
        &::after {
          background: rgba(15, 49, 61, 0.6);
        }
      }
    }

    &--card__2 {
      div {
        background: url(https://drive.google.com/uc?export=download&id=1IZPNCZ3XCB3gm6iNp1V0La_BhEgAMKFc) center center / cover;
      }
      a {
        &::after {
          background: rgba(79, 13, 86, 0.6);
        }
      }
    }

    &--card__3 {
      div {
        background: url(https://drive.google.com/uc?export=download&id=1slf4TKz4TtqOp9IP1t1DbPkS3WXw_AMk) center center / cover;
      }
      a {
        &::after {
          background: rgba(94, 96, 12, 0.6);
        }
      }
    }

    &--card__4 {
      div {
        background: url(https://drive.google.com/uc?export=download&id=1RlIlj_vwl7lqSMGZw4xPhsJLgB7KmCZl);
      }
      a {
        &::after {
          background: rgba(0, 55, 108, 0.6);
        }
      }
    }

    &--card__5 {
      height: 34.8rem !important;
      @include for-size(tablet){
        display: none;
      }
      
      div {
        background: url(https://drive.google.com/uc?export=download&id=1IRjYKvj-8krBZlEbqgyl_A8GYGKc85RA) center / cover;
      }
      a {
        &::after {
          background: rgba(49, 136, 107, 0.63);
        }
      }
    }

    &--card__6 {
      a {
        &::after {
          background: linear-gradient(254.36deg, #7b61ff 2.89%, #ff7c97 60.94%);
        }
      }
    }

    button {
      position: relative;
      margin-top: 5rem;
      background: transparent;
      border: none;
      width: 100%;

      @include for-size(phone){
        margin-top: 0;
      }

      a {
        display: inline-block;
        color: $color-white;
        width: 100%;
        padding: 2rem 0;
        border: 1px solid;
        transition: border 300ms ease-in-out;
        font-size: 2.4rem;
        border-radius: 0;
        font-family: 'lato', sans-serif;

        &::first-letter {
          text-transform: capitalize;
        }

        &:hover {
          border: 1px solid transparent;
        }
      }
    }
  }
}
///////////////////////
/// Design End
///////////////////////

///////////////////////
/// Blog Start
///////////////////////
.blog {
  &__layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(40rem, 1fr));
    grid-auto-rows: 40.32rem;
    gap: 2rem;

    @include for-size(1200px, down){
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-size(tablet) {
      grid-template-columns: minmax(28.1rem, 1fr);
    }

    @include for-size(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 40.32rem 40.32rem;
    }
  }

  a {
    position: relative;
    border: 1px solid transparent;
    transition: border 0.25s ease;
    font-size: 3.2rem;
    font-weight: 600;
    font-family: 'lato', sans-serif;

    span {
      display: block;
      font-size: 1.8rem;
      color: rgba(255, 255, 255, 0.6);
    }

    &::after {
      background: $color-black;
    }
    &:hover {
      border: 1px solid $color-white;
    }
  }

  .button__blog {
    height: auto;
    width: auto;
    border: 1px solid $color-white;
    transition: border 300ms ease-in;
    color: $color-white;
    font-family: 'Inter', sans-serif;

    &::after {
      background: linear-gradient(250.7deg, #5effca 21.99%, #49a8ff 62.97%);
      border-radius: 3rem;
    }

    &--phone {
      display: none;
    }

    @include for-size(phone) {
      border-radius: 0;
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      margin-top: 2rem;

      &::after {
        border-radius: 0;
      }

      &--desktop {
        display: none;
      }

      &--phone {
        display: inline-block;
      }
    }

    &:hover {
      border: 1px solid transparent;
    }
  }
  &__box {
    h2 {
      color: $color-white;
      font-size: 6rem;
      word-break: keep-all;
      width: 75%;
    }

    &--2 {
      background: linear-gradient(193.81deg, #ffb197 12.81%, #81348d 90.13%);
    }
    &--3 {
      background: linear-gradient(197.7deg, #9bf688 -12.35%, #2a9874 87.9%);
    }
    &--4 {
      background: linear-gradient(160.95deg, #43a685 27.27%, #f6ff97 87.17%);
    }
    &--5 {
      background: linear-gradient(197.4deg, #64d7d0 2.5%, #7798e1 88.07%);
    }
    &--6 {
      background: linear-gradient(204.23deg, #7b61ff 47.15%, #ce82db 84.48%);
    }

    @include for-size(phone) {
      &--1 {
        grid-column: span 2 / auto;
        text-align: center;
        align-self: center;

        h2 {
          width: 100%;
        }
      }

      &--3 {
        display: none;
      }
    }
  }
}
///////////////////////
/// Blog End
///////////////////////

///////////////////////
/// collaborate Start
///////////////////////
.collaborate {
  h2 {
    font-size: 5.2rem;
    font-weight: 800;
  }
}
///////////////////////
/// collaborate End
///////////////////////

///////////////////////
/// Footer Start
///////////////////////
.footer {
  font-size: 1.6rem;

  p {
    font-family: 'lato', sans-serif;
  }
}
///////////////////////
/// Footer End
///////////////////////
